.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  background: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  margin-left: 10%;
  margin-right: 10%;
}
.bodyPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expertise {
  margin-top: 30px;
  font-size: 40px;
  align-items: start;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}
.skillList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  font-size: 30px;
  color: var(--color-text);
  gap: 14px;
  background: linear-gradient(
    90deg,
    rgba(21, 94, 196, 0.622) 20%,
    rgba(12, 12, 12, 0.01) 100%
  );
  border-radius: 10px;
  padding: 30px;
  z-index: 1;
}
.skillList ul {
  margin: 30px;
}
.aboutImg {
  width: 50%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .bodyPart {
    flex-direction: column;
    justify-content: center;
  }
  .skillList {
    width: 80%;
    font-size: 30px;
    color: var(--color-text);
    gap: 14px;
    margin: 20px;
    background-color: rgba(21, 94, 196, 0.622);
    border-radius: 10px;
    padding: 30px;
    z-index: 1;
  }
  /* .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  .links {
    align-items: center;
  }
}
